<div class="row" ng-controller="MainCtrl">
  <div class="col-lg-12">
      <h1>Mini Power PC</h1>
  </div>

  <div class="col-sm-4">
    <button type="button" class="btn btn-danger">Reset</button><p></p>
    <h2>Register</h2>
    <table class="table table-bordered">
      <tr><th>Befehlszähler</th><td>{{instructionCounter}}</td><td></td></tr>
      <tr><th>Befehlsregister</th><td>{{instructionRegister}}</td><td></td></tr>
      <tr><th>Carry-Bit</th><td>{{carryBit}}</td><td></td></tr>
      <tr><th>Akkumulator</th><td>{{r00}}</td><td>{{r00|binToDec}}</td></tr>
      <tr><th>Reg-1</th><td>{{r01}}</td><td>{{r01|binToDec}}</td></tr>
      <tr><th>Reg-2</th><td>{{r10}}</td><td>{{r10|binToDec}}</td></tr>
      <tr><th>Reg-3</th><td>{{r11}}</td><td>{{r11|binToDec}}</td></tr>
    </table>
    <table class="table table-bordered">
      <tr><th>Ausgeführte Befehle</th><td>{{executionCounter}}</td></tr>
    </table>
  </div>

  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#program-form">
      Programm eingeben
    </button><p></p>
    <div id="program-form" class="collapse" ng-controller="LoaderCtrl">
        <div class="nullable">
          <select ng-model="programChoice" ng-options="p as p.name for p in defaultPrograms" ng-change="fillProgram(programChoice)">
            <option value="">Standardprogramme</option>
          </select>
        </div>

      <br/>
        <label for="program-entry">Programm</label><br>
        <textarea class="form-control" rows="10" id="program-entry" ng-model="programSource" name="programm"></textarea>
        <input class="btn btn-primary" type="submit" value="Load">
    </div>
    <h2>Programm</h2>
    <div ng-controller="MainCtrl">
      <!-- Der aktuell ausgeführte Befehl -5 + 10 Befehle -->
      <table class="table table-bordered">
        <tr ng-repeat="cell in currentSteps track by cell.index" class="{{cell.class}}">
          <th>{{cell.index}}</th><td>{{cell.value}}</td>
        </tr>
      </table>
    </div>
    <div ng-controller="AssemblerCtrl"></div>
  </div>

  <div class="col-sm-4">
    <div class="btn-group">
      <button type="button" ng-click="step()" class="btn btn-default"><span class="glyphicon glyphicon-step-forward"></span> Step</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span> Slow</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-fast-forward"></span> Fast</button>
    </div><p></p>
    <h2>Datenspeicher</h2>
    <table class="table table-bordered">
      <tr ng-repeat="cell in get_memory(500,530) track by $index">
        <th>{{$index+500}}</th><td>{{cell}}</td><td>{{getDecimal($index+500)}}</td>
      </tr>
    </table>
  </div>


</div>
